.photoPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;

}

.files {
    margin-bottom: 1rem;
}

.preview {
    border-radius: 1rem;
    background: no-repeat center center / cover;
}

.preview::after {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 100%;
}